#yes{
    width: 200%;
    height:200%;
    background-color: purple;
    background-image:url(https://images.pexels.com/photos/586744/pexels-photo-586744.jpeg?auto=compress&cs=tinysrgb&dpr=2&w=500) ;

}
